@font-face {
  font-family: "bee";
  src: url(../../assets/fonts/BreeSerif-Regular.ttf);
}

.Home {
  background-color: #377654;

  position: relative;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  .skincare {
    padding: 0;
    color: rgba(246, 246, 246, 0.037);
    font-size: 275px;
    font-weight: bold;
    margin: 0;
  }

  .Titlee{
    position: absolute;
    top: 33%;
    left: 4%;
    width: 350px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fdfdfd;


  }
  .titleHome {
    position: absolute;
    top: 50%;
    right: 8%;
    width: 350px;
    margin: 0;
    font-size: 15px;

    color: #f2f5f1;
    span {
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
  }
  .Mycarrousel {
    position: absolute;
    bottom: 0;
    right: 30%;
    margin-right: 100px;
    height: 480px;
    background-color:#ccdcd2;
    border-radius:  180px 180px 0px 0;
    .slide {
      width: 350px;
      height: 300px;

      .carousel-inner {
        img {
          width: 99vw;
          height: 80vh;
          object-fit: contain;
        }
      }
    }
  }
}

.ite {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgb(0, 98, 38);
    font-family: "bee";
    margin: 10px 0;
  }
  p {
    width: 80%;
    color: rgb(49, 49, 49);
    margin: 10px;
    font-size: 18px;
  }
}

.productSection{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .productRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

}
.panierSection{
  position: absolute;
  top: 0;
  right: 10px;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
  }
  background-color: rgb(240, 240, 240);
  .itemPanier{
      padding: 10px;

    width: 350px;
    height: 200px;
    background-color: #e2fcef;
    margin: 10px;
    
    img{
      width: 100px;
    }
    
  }
  
}





@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 1));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;

  &::before,
  &::after {
    height: 100px;
    position: absolute;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 14); // Adjust the width as needed
  }
}



