
.productSection{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .productRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

}






