.ProductInfo {
  height: 80vh;
  display: flex;
  //   flex-direction: column;
  align-items: center;
  justify-content: center;
  //   margin: 50px;

  .items {
    display: flex;
    justify-content: space-evenly;
    img {
      width: 300px;
    }
    .item {
      h1 {
        margin: 0 0 30px 0;
        color: rgb(0, 130, 0);
      }
      padding: 20px 0;
      width: 650px;
      .price {
        margin-top: 30px;
        display: flex;
        padding: 0 80px 0 0px;
        justify-content: space-between;
        h4 {
          color: rgb(0, 87, 0);
          font-size: 22px;
        }
      }
      .add {
        padding: 7px;
        border-radius: 20px;
        width: 130px;
        display: flex;
        align-items:center;
        justify-content: space-evenly;
        h1 {
          margin: 0;
          font-size: 35px;
          color: rgb(0, 0, 0);
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(9, 112, 0);
          font-weight: bold;
          font-size: 14px;
          width: 20px;
          height: 20px;
          border: 2px solid rgb(8, 96, 0);
          border-radius: 15px;
          text-align: center;
          padding: 0;
          background-color: transparent;
        }
        button[disabled] {
          color: rgba(9, 112, 0, 0.307);
          border: 2px solid rgba(8, 96, 0, 0.363);

        }
      }
      // .addToCard {
      //   margin-top: 20px;
      //   display: flex;
      //   justify-content: center;
      //   button {
      //     background-color: rgb(56, 127, 43);
      //     color: white;
      //     width: 150px;
      //     height: 40px;
      //     border-radius: 10px;
      //     border: none;
      //   }
      // }
    }
  }
}
